*{
    text-decoration: none;
    box-sizing: border-box;
}
body{
    height: 100%;
    font-family: "Open Sans", sans-serif;
    
    background-color: rgba(32, 32, 32);
    margin: 0;
}
/*     Navbar     ------------------------------------------------------------------------------------------------- */
header{
    width: 100%;        
    display: flex;
    background: rgba(32, 32, 32);           
    box-shadow: none;
    flex-direction: column;
   border-bottom: 2px solid;
   border-color: rgb(56, 56, 55);
   z-index: 1;
}
.nav-bar{
    padding-left: 24px;         
    padding-right: 24px; 
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.logo{
    padding-left: 10px;         
    padding-right: 10px;
}
.logo a{
    font-size: 1.3rem;
    color: #ebe9e9;
}
.Links{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.Links a{
    scale: 0.85;
    color: #fff;
    font-size: 1rem;
    border: 2px solid;
    border-radius: 25px;
    width: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-right: 5px;
}
.Links a:hover{
    scale: 1.1;
    transition: 550ms;
    border-color: rgba(32, 32, 32) rgba(32, 32, 32) #fff;
    border-radius: 0px;
}
.Links .register-link{
    height: 50px;
    width: 130px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    outline: none;
    padding: auto;
    cursor: pointer;
    color: rgb(226, 219, 211);
    font-size: 1rem;
}
.Links .register-link:hover{
    scale: 1.1;
    transition: 550ms;
    border-color: rgba(32, 32, 32) rgba(32, 32, 32) #fff;
    border-radius: 0px;
}
@media screen and (max-width: 1100px) {
    .Links a{
        display: none;
    }
}

/* Add working list when width is less then 1100px */

/*      LEFT    ------------------------------------------------------------------------------------------------- */
section{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90vh;
    justify-content: center;
    background: rgb(44, 44, 44);
    
}
.left{
    width: 540px;
    height: 660px;
    background: rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.Login-button-mid{
    display: flex;
    justify-content: center;
    position: relative;
    top: 35px;

    display: none;
}
.Login-button-mid input[type=button]{
    width: 140px;
    height: 45px;
    color: #fff;
    background: rgb(44, 44, 44);
    border: 2px solid;
    border-color: #fff ;
    border-radius: 15px;
    position: relative;
    top: -100px;
}
.Sign-Left{  
    position: relative;
    top: -100px;
    height: 100px;
    width: 280px;
    font-size: 2rem;
    color: white;
}
.logowanie{
    position: relative;
    top: -50px;
    gap: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.link1{
    height: 35px;
    width: 150px;                                    
    background: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.link1:hover{
    scale: 1.12;
    background: rgb(44, 44, 44);
    color: #fff;
    border: 2px solid;
    border-color: #fff;
    transition:  800ms ease-in;
    border-radius: 5px;
}
.or{
    height: 2px;
    width: 450px;
    background: rgb(123, 123, 119);
    text-align: center;
    margin: 20px 0px 16px;
    position: relative;
    top: -20px;
}
.or span{
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    background:rgb(44, 44, 44);
    padding: 0px 30px;
    position: relative;
    top: -10px;
}
/*     LEFT FORM     ------------------------------------------------------------------------------------------------- */

.login-form{
    margin-top: 10px;
    width: calc(100% + 16px);
    color: #fff;
}
.Password-form{
    margin-top: 10px;
    color: #fff;
}
input[type=email]{
    width: 300px;
    height: 42px;
    border: 1px solid;
    border-color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 5px;
    background: rgb(19, 10, 10);
    color: #fff;
}
input[type=password]{
    width: 300px;
    height: 42px;
    border: 1px solid;
    border-color: rgb(255, 255, 255);
    border-radius: 12px;
    padding: 5px;
    background:rgb(19, 10, 10);
    color: #fff;
}
input[type=password]:hover{
    scale: 1.02;
    background: rgb(110, 88, 88);
}
input[type=email]:hover{
    scale: 1.02;
    background: rgb(110, 88, 88);

}
.left .label-down{
    width: 300px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: small;
}
.login_button{
    display: flex;
    justify-content: center;
    position: relative;

    top: 35px;
}
.login_button input[type=button]{
    width: 140px;
    height: 45px;
    color: #fff;
    background: rgb(44, 44, 44);
    border: 2px solid;
    border-color: #fff ;
    border-radius: 15px;
}
.login_button input[type=button]:hover{
    scale: 1.13;
    transition: 450ms;
    border-color: rgb(44, 44, 44) rgb(44, 44, 44) #fff;
    border-radius: 0px;
    cursor: pointer;
}
::placeholder{
    position: relative;
    left: 15px;
}
.dopis{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    gap: 25px;
    color: #fff;
    margin-top: 7px;
}
.dopis a{
    color: #7965af;
}
.Split{
    height: 450px;
    width: 2px;
    background: rgb(123, 123, 119);
    text-align: center;
    margin: 20px 10px 16px;
    position: relative;
    top: -20px;
}
/*     RIGHT    ------------------------------------------------------------------------------------------------- */

.right{
    width: 540px;
    height: 660px;
    background: rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.Register-button-mid{
    display: flex;
    justify-content: center;
    position: relative;
    top: 35px;

    display: none;
}
.Sign-Right{
    display: flex;
    justify-content: center;
    position: relative;
    top: -50px;
    height: 100px;
    width: 280px;
    font-size: 2rem;
    color: white;
}
.right .label-down{
    width: 300px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: small;
}