*{
    text-decoration: none;
    box-sizing: border-box;
}
body{
    height: 100%;
    font-family: "Open Sans", sans-serif;
    
    background-color: rgba(32, 32, 32);
    margin: 0;
}
/*     Navbar     ------------------------------------------------------------------------------------------------- */
header{
    width: 100%;        
    display: flex;
    background: rgba(32, 32, 32);           
    box-shadow: none;
    flex-direction: column;
   border-bottom: 2px solid;
   border-color: rgb(56, 56, 55);
}
.he_all{
    padding-left: 24px;         
    padding-right: 24px; 
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.logo{
    padding-left: 10px;         
    padding-right: 10px;
}
.logo a{
    font-size: 1.3rem;
    color: #ebe9e9;
}
.przyciski{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.przyciski a{
    scale: 0.85;
    color: #fff;
    font-size: 1rem;
    border: 2px solid;
    border-radius: 25px;
    width: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-right: 5px;
}
.przyciski a:hover{
    scale: 1.1;
    border: none;
    transition: 550ms;
    border-bottom: 1px solid;
    border-color: #fff;
    border-radius: 0px;
}
.przyciski .rej{
    height: 50px;
    width: 130px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    outline: none;
    padding: auto;
    cursor: pointer;
    color: rgb(226, 219, 211);
    font-size: 1rem;
}
.przyciski .rej:hover{
   animation: rej 4s infinite linear;
   scale: 1.1;
    border: none;
    transition: 550ms;
    border-bottom: 1px solid;
    border-color: #fff;
    border-radius: 5px;
}
@keyframes rej{
    33%{
        background: none;
        background-color: rgb(32, 32, 32);
        
    }
    66%{
        background: none;
        background-color: rgb(136, 8, 8);
        
    }
    100%{
        background: none;
        background-color: rgb(32, 32, 32);
         
    }
}
/*      MID    ------------------------------------------------------------------------------------------------- */
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    justify-content: center;
    background: rgb(44, 44, 44);
}
.left{
    width: 540px;
    height: 660px;
    background: rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.napis{  
    position: relative;
    top: -100px;
    height: 100px;
    width: 280px;
    font-size: 2rem;
    color: white;
}
.logowanie{
    position: relative;
    top: -50px;
    gap: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.link1{
    height: 35px;
    width: 150px;                                    
    background: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.link1:hover{
    background: rgb(8, 167, 196);
    scale: 1.12;
    transition: 800ms;
}
.or{
    height: 2px;
    width: 400px;
    background: rgb(104, 104, 100);
    text-align: center;
    margin: 20px 0px 16px;
    position: relative;
    top: -20px;
}
.or span{
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    background:rgb(44, 44, 44);
    padding: 0px 30px;
    position: relative;
    top: -10px;
}
/*     Down     ------------------------------------------------------------------------------------------------- */

.login{
    width: calc(100% + 16px);
    color: #fff;
}
.Password{
    margin-top: 20px;
    color: #fff;
}
input[type=email]{
    width: 270px;
    height: 42px;
    border: 2px solid;
    border-color: rgb(92, 85, 85);
    border-radius: 5px;
    padding: 5px;
    background: rgb(19, 10, 10);
    color: #fff;
}
input[type=password]{
    width: 270px;
    height: 42px;
    border: 2px solid;
    border-color:rgb(92, 85, 85);
    border-radius: 5px;
    padding: 5px;
    background:rgb(19, 10, 10);
    color: #fff;
}
input[type=email]:hover{
    scale: 1.02;
    background: rgb(66, 61, 61);
}
input[type=password]:hover{
    scale: 1.02;
    background: rgb(66, 61, 61);
}
.label-down{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.login_button{
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
}
input[type=button]{
    width: 110px;
    height: 45px;
    color: #fff;
    background: black;
    border-radius: 5px;
    border: 2px solid;
    border-color: #fff;
}
input[type=button]:hover{
    background: rgb(55, 53, 53);
    scale: 1.02;
}