*{
    text-decoration: none;
    box-sizing: border-box;
}
body{
    height: 100%;
    font-family: "Open Sans", sans-serif;
    color: rgba(55, 71,79);
    background-color: rgba(32, 32, 32);
    margin: 0;
}
header{
    width: 100%;        
    height: 68px;           
    min-height: 68px;
    display: flex;
    background: rgba(32, 32, 32);           
    box-shadow: none;
    flex-direction: column;
   border-bottom: 2px solid;
   border-color: rgb(56, 56, 55);

}
 /*     Navbar      */
.he_all{
    color: aqua;
    padding: 8px;
    padding-left: 24px;         
    padding-right: 24px; 
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.logo{
    padding-left: 10px;         
    padding-right: 10px;
}
.rej{
    padding-left: 10px;         
    padding-right: 10px;
}
.przyciski{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    justify-content: center;
    background: rgb(44, 44, 44);
}
/*      MID     */
.left{
    width: 400px;
    height: 500px;
    background: rgb(19, 10, 10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logowanie{
    position: relative;
    gap: 10px;
    height: 50px;
    width: 160px;
    display: flex;
    flex-direction: row;

}
.logowanie a{
    box-sizing: border-box;
    width: 100%;
    font-size: 20px;
    border: 7px solid rgb(57, 57, 57);
    border-radius: 10px;
    color: rgba(255, 255, 255, 0.8);
    background: rgb(57, 57, 57);
}
.or{
    height: 2px;
    width: 300px;
    background: rgb(56, 56, 55);
    text-align: center;
    margin: 20px 0px 16px;
}
.or span{
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    background:rgb(19, 10, 10);
    padding: 0px 20px;
    position: relative;
    top: -12px;
}
